html {
	font-size: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 1.25em; /* 20 */
}

h2 {
	font-size: 1.125em; /* 18 */
}

h3 {
	font-size: 1em; /* 16 */
}

p {
	font-size: 0.875em; /* 14 */
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #333;
	-webkit-transition: 0.1s;
	        transition: 0.1s;
}

a:hover {
	color: #4A90E2;
	border-bottom: 3px solid #4A90E2;
}

.wrap {
	max-width: 1080px;
	margin: auto;
	padding:20px;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.vertically-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

section {
	padding: 50px 0;
}

nav {
	max-width: 1080px;
	margin: auto;
	padding-top: 30px;
	/*height: 60px;
	line-height: 60px;*/
	/*padding: 0 0 0 20px;*/
}

nav a {
	color: #333;
	border-bottom: 0;
	/*padding-bottom: 2px;*/
}

nav a:hover {
	color: #4A90E2;
	border-bottom: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding-right: 20px;
}

.cta {
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	text-align:center;
	color: white;
	background: #4A90E2;
	padding: 0 20px;
}

.cta .fa {
	font-weight: bold;
}

.cta a {
	color: white;
	font-weight: bolder;
	border: 0;
	border-bottom: 1px solid white;
	padding-bottom: 2px;
}

.cta a:hover {
	border-bottom: 4px solid white;
}

.about {
	height: 300px;
	padding-top: 0;
}

.about h1 {
	padding:0;
	margin: 0;
}

.about h3 {
	padding-top:0;
	margin-top: 0;
	font-weight: lighter;
}

.about .wrapper {
	width: 900px;
	margin: auto;
	height: 100%;
}

.headshot {
	width: 26%;
	float: left;
	height: 100%;
	margin: 0 2%;
}

.headshot img {
	display: block;
	margin:auto;
	height: 230px;
	width: auto;
}

.bio {
	width: 60%;
	float: left;
}

.bio .social {
	padding-top: 20px;
}

.bio .social a {
	text-decoration: none;
	border: none;
	padding-right: 5px;
}

.skills {
	width: 700px;
	margin: auto;
	padding: 0 25px 25px 25px;
}

.skills h4 {
	margin-bottom: 10px;
}

.skill ul {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
}

.skill {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.portfolio {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

#work {
	width: 100%;
	background: #fafafa;
}

.portfolio-piece .close {
	display: none;
	opacity: 0.5;
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: absolute;
	top:15px;
	left: 15px;
	z-index: 10;
}

.portfolio-piece .content {
	position: relative;
	z-index: 10;
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s 0.5s linear;
	width: 30%;
	padding: 20px 10%;
	float: right;
	color: white;
}

.portfolio-piece .content .button {
	visibility: hidden;
	opacity: 0;
}

.portfolio-piece.selected .content {
	visibility: visible;
  opacity: 1;
}

.portfolio-piece.selected .content .button {
	visibility: visible;
	opacity: 1;
}

.portfolio-piece .close::before {
	content: "";
	display: block;
	width: 40px;
	height: 4px;
	background: white;
	position: absolute;
	top:0;
	left:0;
	transform: translateY(20px) rotate(-45deg);

}

.portfolio-piece .close::after {
	content: "";
	display: block;
	width: 40px;
	height: 4px;
	background: white;
	position: absolute;
	top:0;
	left:0;
	transform: translateY(20px) rotate(45deg);
}

.portfolio-piece.selected .close {
	display: block;
}

.portfolio-piece.selected {
	padding-bottom: 0;
}

.portfolio-piece {
	position: relative;
	width: 25%;
	padding-bottom: 25%;
	background-color: black;
	box-sizing: border-box;
	height: 0px;
	transition: 0.5s;
	z-index: 1;
	opacity: 0.9;
	cursor: pointer;
	float:left;
}

.button {
	border-radius: 5px;
	background: #4A90E2;
	color: white;
	text-decoration: none;
	border: 0;
	display: inline-block;
	padding: 10px 20px;
}

.button:hover {
	border: 0;
	color: white;
	background: #3C76B9;
}

.portfolio-piece .thumbnail::after {
	content: "";
	display: block;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom right,#4A8FE2,#366CAB);
	opacity: 0.7;
	z-index: 1;
}

.portfolio-piece:hover {
	opacity: 1;
}

.portfolio-piece.selected {
	opacity: 1;
	position: absolute;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 9;
	cursor: default;
}

.portfolio-piece .logo-wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

.portfolio-piece .logo {
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-align: center;
}

.logo h1 {
	position: relative;
	z-index: 10;
}

.thumbnail {
	height: 100%;
	width: 100%;
	position: absolute;
}

.logo img {
	position: relative;
	display: block;
	width: 70%;
	height: auto;
	margin: auto;
	z-index: 10;
}

.chad .logo img, .hacker-coffee .logo img {
	width:60%;
}

.ixs .logo img {
	width: 40%;
}

.portfolio-piece.selected .logo img {
	float: left;
	width: 30%;
	padding-left: 10%;
}

.bernie {
	background: url('../images/bernie_bg.png') center center no-repeat;
	background-size: 100% auto;
}

.reddimatch {
	background: url('../images/reddimatch_bg.png') center center no-repeat;
	background-size: 100% auto;
}

.editionless {
	background: url('../images/editionless_bg.png') center center no-repeat;
	background-size: 100%;
}

.chad {
	background: url('../images/chad_bg.png') center center no-repeat;
	background-size: 100%;
}

.arrister {
	background: url('../images/arrister_bg.png') center center no-repeat;
	background-size: 100%;
}

.parsonal {
	background: url('../images/parsonal_bg.png') center center no-repeat;
	background-size: 100%;
}

.hacker-coffee {
	background: url('../images/hacker_coffee_bg.png') center center no-repeat;
	background-size: 100%;
}

.ixs {
	background: url('../images/ixs_bg.png') center center no-repeat;
	background-size: 100%;
}

.portfolio-piece.selected {
	background-position: left center no-repeat;
	/*background-size: 50% 100%;*/
}

.portfolio-piece.selected {
	/*background-size: 50% auto;*/
	background-position: left center;
}

.request {
	text-align: center;
	padding: 40px 40px 20px;
}

/*Resume*/
.resume {
	position: relative;
	text-align: center;
}

section.color-block {
	width: 100%;
	background: #4A90E2;
	color: white;
	padding-bottom: 0;
}

section.color-block .wrap {
	padding: 0;
}

.resume-image {
	display: block;
	position: relative;
	background: white;
	height: 300px;
	width: 600px;
	margin: 50px auto 0 auto;
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.4);
	z-index: 0;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0.9;
}

.resume-image:hover {
	height: 350px;
	opacity: 1;
}

footer {
	position: absolute;
	text-align: center;
	padding: 50px 0;
	background: #3E7AC0;
	color: white;
	z-index: 9;
	width: 100%;
	bottom: 0;
}

@media screen and (max-width: 1080px) {
	/*.portfolio-piece {
		width:31%;
	}*/
}

@media screen and (max-width: 880px) {
	/*.portfolio-piece {
		width: 47%;
	}*/

	.about .wrapper {
		width: 100%;
	}

	.headshot img {
		height: auto;
		width: 100%;
	}

	.portfolio-piece .content {
		/*height: 250px;*/
	}

	.bio {
		width: 68%;
		float: right;
	}

	.skills {
		width: 90%;
		padding: 5%;
	}
}

@media screen and (max-width: 790px) {
	/*.portfolio-piece {
		width: 96%;
		margin: 5% 0;
	}*/

	.portfolio-piece .content {
		height: auto;
	}

}

@media screen and (max-width: 620px) {
	.headshot {
		display: none;
	}

	.cta {
		height: auto;
	}

	.bio {
		width: 100%;
	}

	nav ul li{
		padding: 0 10px;
	}

}
